#test {
    margin-left: 45%;
    margin-right: 45%;
}
.button {
    margin-left: 45%;
    margin-right: 45%;
}
.animals {
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
}