#test {
    margin-left: 45%;
    margin-right: 45%;
}
.button {
    margin-left: 45%;
    margin-right: 45%;
}
.animal-buttons {
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
}
#image-holder  {
    width: 400px;
}  

img {
    width: 400px;
}
#search-div {
    margin-left: 80%;
    position: fixed;
}
#submit {
    margin-top: 1%;
}
#search {
    margin-right: 1%;
}
#button-holder {
    width: 800px;
}